:root {
  --brand-color: #2196f3; /* brand-color */
  --aktive-btn-color: #188ce8; /* aktive-button-color */
  --white-color: #fff; /* secondary-brand-color, main-background-color */
  --dark-color: #212121; /* main-text-color */
  --secondary-text-color: #757575; /* secondary-text-color */
  --conteiner-bgcolor: #eee; /* conteiner-background-color */
  --secondary-bgcolor: #f5f4fa; /* secondary-section-background-color, portfolio-button-color */
  --hero-bgcolor: #2f303a; /* hero-background-color, footer-background-color */
  --footer-contacts-color: rgba(255, 255, 255, 0.6); /* footer-contacts-color */
  --footer-socials-bgcolor: rgba(255, 255, 255, 0.1); /* footer-socials-background-color */
  --logo-text-color: #000; /* logo-studio-text-color */
  --line-color: #ececec; /* header-line-color */
  --aktive-btn-color: #188ce8; /* aktive-button-color */
  --socials-color: #afb1b8; /* socials-icon-color */
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--dark-color);
  background-color: var(--white-color);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  /* outline: 2px solid tomato; */
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* стили шапки */

.header {
  border-bottom: 1px solid var(--line-color);
}

.header .container,
.header-nav {
  display: flex;
  align-items: center;
}

.logo {
  padding-top: 24px;
  padding-bottom: 25px;
  color: var(--logo-text-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-accent {
  color: var(--brand-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.header-list {
  display: flex;
  margin-left: 93px;
}

.header-list .item + .item {
  margin-left: 50px;
}

.header-list .link {
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--dark-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-contacts {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  margin-left: auto;
  color: var(--secondary-text-color);
}

.header-contacts .item + .item {
  margin-left: 50px;
}

.contacts-icon {
  fill: currentColor;
  margin-right: 10px;
}

.header-contacts .link {
  display: inline-flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  color: currentColor;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-list .link:hover,
.header-list .link:focus,
.header-contacts .link:hover,
.header-contacts .link:focus,
.header-list .link.current {
  color: var(--brand-color);
}

/* стили героя */

.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--hero-bgcolor);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/herobg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.section.hero {
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  margin: auto;
  text-align: center;
  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 30px;
}

.hero .btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 200px;
  height: 50px;
  padding: 10px 32px;
  color: var(--white-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: var(--brand-color);
  border: 0;
  border-radius: 4px;
}

.hero .btn:hover,
.hero .btn:focus {
  background-color: var(--aktive-btn-color);
}

.btn:hover,
.btn:focus {
  cursor: pointer;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 528px;
  height: 581px;

  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;
  border-radius: 50%;

  background-color: var(--white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  cursor: pointer;
}

/* стили особенности */

.section-peculiarity .list {
  display: flex;
}

.section-peculiarity .item {
  width: 270px;
}

.section-peculiarity .item + .item {
  margin-left: 30px;
}

.peculiarity-box {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--secondary-bgcolor);
  border-radius: 4px;
}

.section-peculiarity .title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
}

.section-peculiarity .text {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.72;
  letter-spacing: 0.03em;
}

/* стили чем мы занимаемся */

.section.our-works {
  padding-top: 0;
}

.our-works .title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.our-works .list {
  display: flex;
  flex-wrap: wrap;
}

.our-works .item:not(:last-child) {
  width: 370px;
  margin-right: 30px;
}

.our-works .item {
  position: relative;
  display: block;
  max-width: 100%;
  height: auto;
}

.our-works-title {
  position: absolute;
  pointer-events: none;
  bottom: 0;
  width: 100%;
  height: 70px;
  margin: 0;
  padding: 27px 0;

  color: var(--white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
}

/* стили наша команда */

.our-team {
  background-color: var(--secondary-bgcolor);
}

.our-team .title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 50px;
}

.our-team .team-list {
  display: flex;
  flex-wrap: wrap;
}

.our-team-card {
  width: 270px;
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.our-team-card:not(:last-child) {
  margin-right: 30px;
}

.team-card-notify {
  padding-top: 30px;
  padding-bottom: 30px;
}

.our-team-item-name {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.our-team-item {
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 16px;
}

.socials-list {
  display: flex;
  justify-content: center;
}

.socials-item:not(:last-child) {
  margin-right: 10px;
}

.socials-item {
  width: 44px;
  height: 44px;
}

.socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: var(--socials-color);
}

.socials-icon {
  fill: currentColor;
}

.socials-link:hover,
.socials-link:focus {
  color: var(--white-color);
  background-color: var(--brand-color);
}

/* стили наши клиенты */

.our-clients .title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.clients-list {
  display: flex;
}

.client-card {
  width: 170px;
  height: 92px;
}

.clients-list .client-card + .client-card {
  margin-left: 30px;
}

.client-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: var(--socials-color);
  border: 1px solid currentColor;
  border-radius: 4px;
}

.client-logo {
  fill: currentColor;
}

.client-link:focus,
.client-link:hover {
  color: var(--brand-color);
  border-color: var(--brand-color);
}

/* секция "футер" */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--hero-bgcolor);
}

.footer > .container {
  display: flex;
}

.footer-box {
  margin-right: 70px;
}

.footer-logo {
  color: var(--white-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.footer-address {
  margin-top: 20px;
  color: var(--white-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.72;
  letter-spacing: 0.03em;
}

.footer-list .item {
  margin-top: 9px;
}

.footer-contacts {
  color: var(--footer-contacts-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.72;
  letter-spacing: 0.03em;
}

.footer-address:hover,
.footer-address:focus,
.footer-list .link:hover,
.footer-list .link:focus {
  color: var(--brand-color);
}

.footer-address:hover,
.footer-address:focus {
  cursor: pointer;
}

.join-title {
  margin-bottom: 20px;
  color: var(--white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.join .socials-link {
  color: var(--white-color);
  background-color: var(--footer-socials-bgcolor);
}

.join .socials-link:hover,
.join .socials-link:focus {
  color: var(--white-color);
  background-color: var(--brand-color);
}

/* страница порфолио */

/* фильтр */

.portfolio-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-list .item:not(:last-child) {
  margin-right: 8px;
}

.portfolio .btn {
  height: 38px;
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: var(--secondary-bgcolor);
  border: 0;
  border-radius: 4px;
}

.portfolio .btn:hover,
.portfolio .btn:focus {
  color: var(--white-color);
  background-color: var(--brand-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* проекты */

.projects-list {
  display: flex;
  flex-wrap: wrap;
}

.project-card {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.overlay-card-box {
  position: relative;
  overflow: hidden;
}

.project-card-overlay {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
}

.card-overlay-text {
  display: inline-block;
  width: 322px;
  height: 168px;
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--white-color);
}

.project-card:hover .project-card-overlay {
  transform: translateY(0);
  transition: transform 250ms ease;
}

.project-card:nth-child(3n) {
  margin-right: 0;
}

.project-card:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.project-card:hover,
.project-card:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.project-card-notify {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
}

.projects-company {
  margin-top: 0;
  margin-bottom: 4px;
  color: var(--dark-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.projects-type {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
